.mainpage-conatainer-big {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.mainpage-conatainer-back {
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80vh;
  background-color: #20133b75;
}

.mainpage-conatainer-front {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

#canva-container{
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
}




#todays-notes-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 95%;
}

#todays-notes-grid {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: hidden;

  padding: 2rem;
}

#today-notes-title{
  position: absolute;
  font-size: 2rem;
}