
#shopping-list-container{
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.new-item-btn{
  position: absolute;
  right: 1rem;
  top: 1.6rem;
  font-size: 1.5rem;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}
#new{
  position: relative;
}
#new input{
  width: 10rem;
}
#shopping-list{
  display: flex;
  flex-direction: row;

}
.item-quantity{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
}

.decr-btn, .incr-btn{
  cursor: pointer;
}

#shopping-list-table {
  border-collapse: separate;
  width: 25rem;
  border-radius: 10px;
  overflow: hidden; 
  background-color: brown;
  box-shadow: 6px 10px 16px 2px rgba(0,0,0,0.61);
-webkit-box-shadow: 6px 10px 16px 2px rgba(0,0,0,0.61);
-moz-box-shadow: 6px 10px 16px 2px rgba(0,0,0,0.61);
}

#shopping-list-table th, #shopping-list-table td {
  text-align: center;
  padding: 8px;
}

.divider{
  color: #ffffff;
}



#add-new-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
#add-new-item form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sidenav{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.nav-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  font-size: 1.5rem;
}
.nav-link-settings {
  text-decoration: none;
  color: inherit;
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
}
.nav-link:hover{
  color: #6d44b8;
  /* transform: rotate(360deg);
  transition: .8s ease-in-out; */
}
.nav-link-settings:hover{
  color: #6d44b8;
 
}
:root{
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #ffffff;
  --background: white;
  --hamburger-margin: 5px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height:calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
}

.hamburger-menu{
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: fixed;
  top: -40px;
  left: -30px;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input{
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before{
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after{
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}
.hamburger-menu input:checked{
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: transform var(--animation-timing); /* Change translate to transform */
  transform: translateX(-100%); /* Change translate to transform */
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: black;
  width: 7rem;
  max-width: 10rem;
  height: 75vh;
  position: fixed; /* Change position to fixed */
  top: 5rem; /* Adjust the top position */
  left: 0; /* Adjust positioning according to your needs */
  border-top-right-radius: 10px; /* Adjust the value as needed */
  border-bottom-right-radius: 10px; 
  z-index: 999;
}

.hamburger-menu:has(input:checked) + .sidebar {
  transform: translateX(0); /* Change translate to transform */
}




/* #app-login-button{

}

#app-login-button-container{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 20vh;
} */


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

th,
h3 {
  padding: 10px;
}
 */

