.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 23rem;
}
.no-premium {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  font-size: 1.5rem;
}
.premium-btn {
  cursor: pointer;
  padding: 1.5rem;
  border: 0;
  border-radius: 10px;
  box-shadow: 6px 10px 16px 2px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 6px 10px 16px 2px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 6px 10px 16px 2px rgba(0, 0, 0, 0.61);
  transition: all 300ms ease-out;
}

.premium-btn:hover {
  transition: all 300ms ease-in;
  transform: scale(1.2);
}

#sidenav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}
.nav-link-settings {
  text-decoration: none;
  color: inherit;
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
}
.nav-link:hover {
  color: #6d44b8;
}
.nav-link-settings:hover {
  color: #6d44b8;
}
:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #ffffff;
  --background: white;
  --hamburger-margin: 5px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: fixed;
  top: -40px;
  left: -30px;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}
.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: transform var(--animation-timing);
  transform: translateX(-100%);
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: black;
  width: 7rem;
  max-width: 10rem;
  height: 75vh;
  position: fixed;
  top: 5rem;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 999;
}

.hamburger-menu:has(input:checked) + .sidebar {
  transform: translateX(0);
}
