
body{
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(75, 75, 75);
  color: whitesmoke;
}

#login-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#development-header {
  background-color: rgba(0, 0, 0, 0.59);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 100;
}

#development-header > a {
  color: whitesmoke;
}

#loader{
  margin-top: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

