#note-page {
  color: #b1dbf5;
  max-height: 100vh;

  
  max-width: 60%;
}
#note-grid {
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1vw;
  row-gap: 1vw;

}


::-webkit-scrollbar {
  display: none;
}

#note-headbar {
  height: 1px;
  width: 100%;
  position: sticky;
  background-color: #4b0794;
  z-index: 1;
}

#note-headbar-spacer {
  top: 0;
  background-color: rgb(255, 196, 0);
}

#box{
  background-color:#444040;
  padding: 30px;
  height: 5rem;
  width: 27.25rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

}

#note-user-name {
  margin-left: 30rem;
  margin-top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 50px;
  background-color: #444040;
  position: fixed;
  top: 0;
  width: 51%;
  z-index: 2;
  border-radius: 0% 0% 0% 50px;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(9, 9, 9, 0.5),
    0.125rem 0.125rem 1rem rgba(22, 22, 22, 0.5);
}

#note-user-name-spacer {
  margin-top: 1vh;
  margin-left: 5vw;
  width: 25px;
}

#add-note {
  /* width: 33vw; */
  /* height: 320px; */
  width: 25rem;
  /*  height: 368px; */
  background-color: #444040;
  padding: 3vw;
  position: fixed;
  top: 0;
  z-index: 3;
  right: 0;
  height: 15rem;
  margin-top: 6.28rem;
  border-radius: 0% 0% 0% 50px;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(9, 9, 9, 0.5),
    0.125rem 0.125rem 1rem rgba(22, 22, 22, 0.5);
}
/* #add-note-textarea-container{
  position: absolute;
  right: 2rem;
}
 */
 #add-note-element-container{
  position: absolute;
  top: -2rem;
  z-index: 4;
}

#add-note-headbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: -3rem;

}

#add-note-headbar > h2 {
}

#add-note-headbar > button {
  min-height: 5vh;
  width: 10vw;
  border-radius: 12px;
  background: #573b8a;
  color: #ffffff;
  font-size: 16px;
  border: 0;
}

#add-note-headbar > button:hover {
  background-color: #4b0794;
}

/*
#add-note-headbar > button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 0.4rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 0.4rem rgba(255, 154, 90, 0.5);
}

#add-note-headbar > button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 0.4rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 0.4rem rgba(255, 154, 90, 0.5);
}
*/

#add-note-set-date {
  width: 532px;
  height: 47px;
  margin-bottom: 0.7vh;
  padding: 10px;
  box-sizing: border-box;
  color: #b1dbf5;
  font-size: 20px;
  background-color: #514e4efc;
  resize: none;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(9, 9, 9, 0.5),
    0.125rem 0.125rem 1rem rgba(22, 22, 22, 0.5);
  border-radius: 0;
}

#add-note-textarea-title {
  width: 532px;
  height: 47px;

  padding: 10px;
  box-sizing: border-box;
  color: #b1dbf5;
  font-size: 20px;
  background-color: #514e4efc;
  resize: none;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(9, 9, 9, 0.5),
    0.125rem 0.125rem 1rem rgba(22, 22, 22, 0.5);
}

#add-note-textarea-text {
  width: 510px;
  height: 150px;
  padding: 10px;
  border-radius: 0 0 0 36px;
  color: #b1dbf5;
  font-size: 20px;
  background-color: #514e4efc;
  resize: none;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(9, 9, 9, 0.5),
    0.125rem 0.125rem 1rem rgba(22, 22, 22, 0.5);
}



.note {
  cursor: pointer;
  background-color: #3c3939fc;
  width: 17vw;
  border-radius: 50px;
  height: 18vw;
  position: relative;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(9, 9, 9, 0.5),
    0.125rem 0.125rem 1rem rgba(22, 22, 22, 0.5);
  padding: 10px;
}

#note:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(95, 190, 242, 0.5),
    -0.125rem -0.125rem 0.5rem rgba(28, 50, 149, 0.5),
    0.125rem 0.125rem 0.5rem rgba(9, 85, 97, 0.5);
}

.note-text {
  height: 12vw;
  width: 12vw;
  overflow-y: auto;
  padding: 10px 2vw;
}

.note > h3 {
  max-width: 80%;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 0;
}

.note > button {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-radius: 12px;
  background: #573b8a;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 0;
  border: 0;
}
/*
#note > button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

#note > button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(101, 42, 202, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
*/
#note > button:hover {
  background-color: #4b0794;
}
#note-list {
  margin-top: 7vw;
  margin-left: 10.15rem;
}

.heart-active {
  color: red;
}

.heart-inactive {
  color: black;
}

.note-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.heart {
  vertical-align: middle;
}

#todays-notes-grid {
  padding: 1vw;
  display: grid;
  overflow-x: hidden;
}

#no-notes {
  text-align: center;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}